<%= f.hidden_field :finance_id, :value=> @finance.id %>
<!--form titles-->

<% @privileges.each do |c| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-4">
			  <span class="input-icon icon-right">
			  	<%= c.name %> 
			  	<%= f.hidden_field :privilege_id, :value=> c.id %>
			  </span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :local_vol, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :local_intern,as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :intl_vol, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :intl_intern, as: :select,:class =>"form-control", :label => false %>
			</span>
		</div>
			
	</div>
<% end %>
