<%= f.hidden_field :finance_id, :value=> @finance.id %>

<% @collaborates.each do |c| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-3">
			  <span class="input-icon icon-right">
			  	<%= c.name %> 
			  	<%= f.hidden_field :collaborate_id, :value=> c.id %>
			  </span>
		</div>
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :info_exchange, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :tech_to, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :tech_fro, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :fund_to, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :fund_fro, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :equip_to, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :equip_fro, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
	</div>
<% end %>
