<%= f.hidden_field :finance_id, :value=> @finance.id %>
<div class="col-sm-3">
	Name of Donor
	<span class="input-icon icon-right">
	  	<%= f.input :name, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="col-sm-2">
	Type of Donor
	<span class="input-icon icon-right">
	  	<%= f.association :income, label_method: :donor, value_method: :id, include_blank: false, :label => false %>
	</span>
</div>

<div class="col-sm-2">
	Country
	<span class="input-icon icon-right">
	  	<%= f.input :country, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="col-sm-2">
	Amount
	<span class="input-icon icon-right">
	  	<%= f.input :amount, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="row">	
	<%= link_to_remove_association "Remove donor", f %>
</div>
