	<%= f.hidden_field :finance_id, :value=> @finance.id %>
	<p>State the number of Employees and Volunteers both local and international</p>
	<hr class="wide"></hr>
	<i>1. Stationed in Kenya</i>
	<!--title headers-->
	<div class="row">
		<!---->
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Local Staff
			</span>
		</div>
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	International Staff
			</span>
		</div>
	</div>
	
	<!--Previous Year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Previous Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_local_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_intl_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<!--Current Year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Current Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_local_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_intl_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<!--Staff who came in this year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Staff who came in this year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :this_year_local_add_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :this_year_intl_add_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<!--Staff who left this year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Staff who came in this year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :this_year_local_left_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :this_year_intl_left_kenya, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
		
	<hr class="wide"></hr>
	<i>2. Stationed in other countries (Add field for countries)</i>
	<!-- headers-->
	<div class="row">
		<!--titles for countries-->
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Local Staff
			</span>
		</div>
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	International Staff
			</span>
		</div>
	</div>
	
	<!--Stationed in other countries - previous year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Previous Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_local_others, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_intl_others, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<!--Stationed in other countries - current year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Current Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_local_others, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_intl_others, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<hr class="wide"></hr>
	<i>3. Volunteers/ Interns</i>
	<!-- headers-->
	<div class="row">
		<!--titles for countries-->
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Local Staff
			</span>
		</div>
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	International Staff
			</span>
		</div>
	</div>
	
	<!--Stationed in other countries - previous year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Previous Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_local_interns, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_year_intl_interns, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	<!--Stationed in other countries - current year-->
	<div class="row">
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	Current Year
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_local_interns, :class =>"form-control", label: false %>
			</span>
		</div>
		
		<div class="col-sm-3">
			<span class="input-icon icon-right">
			  	<%= f.input :current_year_intl_interns, :class =>"form-control", label: false %>
			</span>
		</div>
	</div>
	
	