<tr>
  	<td><%= best_in_place finance, :cash_brought_forward, :type=> :input %></td>
  	<td><%= best_in_place finance, :income_subtotal, :type=> :input %></td>	
  	<td><%= best_in_place finance, :receipts_total, :type=> :input %></td>
  	<td><%= best_in_place finance, :asset_purchase_kenya, :type=> :input %></td>
  	<td><%= link_to finance.project_cost_kenya, finance %></td>
</tr>