<%= f.hidden_field :finance_id, :value=> @finance.id %>

<div class="col-sm-3">
	Name
	<span class="input-icon icon-right">
	  	<%= f.association :bank, label_method: :name, value_method: :id, include_blank: false, :label => false %>
	</span>
</div>

<div class="col-sm-3">
	Branch
	<span class="input-icon icon-right">
	  	<%= f.input :branch, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="row">	
	<%= link_to_remove_association "Remove bank", f %>
</div>
