<%= f.hidden_field :finance_id, :value=> @finance.id %>
<div class="row">
	<div class="col-sm-6">
		Number of Board meetings per year, by NGO's Constitution
		<span class="input-icon icon-right">
		  	<%= f.input :meetings_constitution, :class =>"form-control", label: false %>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		Meetings held previous year
		<span class="input-icon icon-right">
		  	<%= f.input :meetings_last_year, :class =>"form-control", label: false %>
		</span>
	</div>
</div>
<div class="row">	
	<div class="col-sm-6">
		Meeting held in current year
		<span class="input-icon icon-right">
		  	<%= f.input :meetings_current_year, :class =>"form-control", label: false %>
		</span>
	</div>
</div>
<div class="row">	
	<div class="col-sm-6">
		Date of Last Annual General Meeting (AGM)
		<span class="input-icon icon-right">
		  	<%= f.input :last_agm_meeting, as: :date, :class =>"form-control", label: false %>
		</span>
	</div>
</div>

<div class="row">
	<div class="col-sm-6">
		Date of last election
		<span class="input-icon icon-right">
		  	<%= f.input :last_election, as: :date, :class =>"form-control", label: false %>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		Numberof Directors/Officials
		<span class="input-icon icon-right">
		  	<%= f.input :total_officials, :class =>"form-control", label: false %>
		</span>
	</div>
</div>
<div class="row">
	<div class="col-sm-6">
		During the financial year, has any assets been stolen or otherwise misappropriated by a person who was, at the time, 
		associated with this NGO (whether the assets or their value has been recovered or not)?
		<span class="input-icon icon-right">
		  	<%= f.input :lost_assets, as: :boolean, checked_value: true, unchecked_value: false,
	 :class =>"form-control", label: false %>
		</span>
	</div>
</div>




