<%= f.hidden_field :finance_id, :value=> @finance.id %>

<!--form titles-->
<% @local_contributions.each do |c| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-3">
			  <span class="input-icon icon-right">
			  	<%= c.name %> 
			  	<%= f.hidden_field :local_contribution, :value=> c.id %>
			  </span>
		</div>
	
		<div class="col-sm-2">
			<span class="input-icon icon-right">
			  	<%= f.input :contributed, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-2">
			<span class="input-icon icon-right">
			  	<%= f.input :amount, :class =>"form-control", :label => false %>
			</span>
		</div>
		
	</div>
<% end %>
