<div class="row">
    <div class="col-sm-12">	
		<!--form entries-->		
			<div class="form-title">
			    <b>B1 - ASSETS</b>
			</div>
			<p>List of NGO's Assets and Reserves, those stationed in Kenya only </p>
			 <!--assets fields added through associations-->
	         <div class="row">
				<%= f.simple_fields_for :possessions do |p|%>
					<%= render 'possession_fields', :f=>p %>
                <% end %>	
                <div class="col-sm-3" align="left"><%= link_to_add_association "Add Asset", f, :possessions %></div>
	         </div>
	         <!--assets fields added through associations--> 	
			
			<br/>
			<div class="form-title">
			    <b>B2 - RECEIPTS AND INCOME</b>
			</div>
			
			<!--Cash Brought Forward-->
			<div class="row">				
				<div class="col-sm-5">
					Cash and Bank balances carried forward from previous year
					<span class="input-icon icon-right">
					  	<%= f.input :cash_brought_forward, :class =>"form-control", :label => false %>
					</span>
				</div>
			</div>
			
			<!--Add income sources -->
			<div class="row">
				<%= f.simple_fields_for :donors do |p|%>
					<%= render 'donor_fields', :f=>p %>
                <% end %>	
                <div class="col-sm-3" align="left">
                	<%= link_to_add_association "Add Income Source", f, :donors %>
                </div>
            </div>
		    <!--end income source-->
		    
		    <br/>
		    
		    <div class="row">
			    <!--Income Subtotal--> 
				<div class="col-sm-4">
					<%= f.input "Income Subtotal" do %>
						<span class="input-icon icon-right">
						  	<%= f.input_field :income_subtotal,  :class =>"form-control", :label => false %>
							
						</span>
					<% end %>
				</div>
				
				<!--Receipts Total-->
				<div class="col-sm-4">
					<%= f.input "Receipts Total" do %>
						<span class="input-icon icon-right">
						  	<%= f.input_field :receipts_total, :required=>false, :class =>"form-control" %>						</span>
					<% end %>
				</div>
			</div><!--receipts-->
			
			<div class="form-title">
			    <b>B3 - PAYMENTS</b>
			</div>
			
			<!--Assets Purchases-->
			<div class="row">		
				<div class="col-sm-3">Purchase of Tangible Assets</div> 		
				<div class="col-sm-3">
						<%= f.input "Kenya" do %>
						<span class="input-icon icon-right">
							  	<%= f.input :asset_purchase_kenya , :class =>"form-control", :label=> false %>
						</span>
						<% end %>
				</div>
				
				<div class="col-sm-3">
						<%= f.input "Other countries" do %>
							<span class="input-icon icon-right">
							  	<%= f.input :asset_purchase_others, :class =>"form-control", :label=> false %>
							</span>
						<% end %>
				</div>
			</div>	<!--row-->
			
			<!--Projects Costs-->
			<div class="row">
				<div class="col-sm-3">Project Costs</div> 
				<div class="col-sm-3">
						<span class="input-icon icon-right">
							  	<%= f.input :project_cost_kenya, :class =>"form-control", :label=> false %>
						</span>
				</div>
				
				<div class="col-sm-3">
							<span class="input-icon icon-right">
							  	<%= f.input :project_cost_others, :class =>"form-control", :label=> false %>
							</span>
				</div>
			</div>	<!--row-->
			
			<!--Administration Costs-->
			<div class="row">
				<div class="col-sm-3">Administrative Costs</div> 
				<div class="col-sm-3">
						<span class="input-icon icon-right">
							  	<%= f.input :admin_cost_kenya, :class =>"form-control", :label=> false %>
						</span>
				</div>
				
				<div class="col-sm-3">
							<span class="input-icon icon-right">
							  	<%= f.input :admin_cost_kenya, :class =>"form-control", :label=> false %>
							</span>
				</div>
			</div>	<!--row-->
			
			<!--Personal Emoluments and Benefits-->
			<div class="row"><div class="col-sm-3">Personal moluments and benefits</div> </div>
				<div class="row">	
					<div class="col-sm-3">Local Staff</div>
					<div class="col-sm-3">
						<span class="input-icon icon-right">
							  	<%= f.input :local_staff_kenya, :class =>"form-control", :label=> false %>
						</span>
					</div>
						
					<div class="col-sm-3">
						<span class="input-icon icon-right">
						  	<%= f.input :local_staff_others, :class =>"form-control", label: false %>
						</span>
					</div>
				</div>
					
				<div class="row">
						<div class="col-sm-3">International Staff</div>
						<div class="col-sm-3">
							<span class="input-icon icon-right">
								  	<%= f.input :intl_staff_kenya, :class =>"form-control", :label=> false %>
							</span>
						</div>
						
						<div class="col-sm-3">
							<span class="input-icon icon-right">
							  	<%= f.input :intl_staff_others, :class =>"form-control", label: false %>
							</span>
						</div>
			</div>	<!--/emoluments row-->
			
			<!--Other running costs-->
			<div class="row">
				<div class="col-sm-3">Other Running Costs</div>
				<div class="col-sm-3">
					<span class="input-icon icon-right">
						  	<%= f.input :running_cost_kenya, :class =>"form-control", :label=> false %>
					</span>
				</div>
				
				<div class="col-sm-3">
					<span class="input-icon icon-right">
					  	<%= f.input :running_cost_others, :class =>"form-control", :label=> false %>
					</span>
				</div>
			</div>	<!--row-->
			
			<!--Payments Total-->
			<div class="row">
				<div class="col-sm-3">Payments Total</div> 
				<div class="col-sm-3">
					<span class="input-icon icon-right">
						  	<%= f.input :total_pay_kenya, :class =>"form-control", :label=> false %>
					</span>
				</div>
				
				<div class="col-sm-3">
					<span class="input-icon icon-right">
					  	<%= f.input :total_pay_others, :class =>"form-control", label: false %>
					</span>
				</div>
			</div> <!--/ payment total row-->
			
			<div class="form-title">
				<b>B4 - BALANCE</b>			    
			</div>
			
			<!--closing balance-->
			<div class="row">
				<div class="col-sm-4">
					<%= f.input "Closing Balance" do %>
						<span class="input-icon icon-right">
							  	<%= f.input :closing_balance, :class =>"form-control", :label=> false %>
						</span>
					<%end%>
				</div>

				<!--cash and bank balance-->
				<div class="col-sm-5">
					<%= f.input "Cash and Bank Balance (As per bank statement and cash count)" do %>
					<span class="input-icon icon-right">
					  	<%= f.input :actual_total_balance, :class =>"form-control", :label=>false %>
					</span>
					<%end%>
				</div>
			</div> <!--/Balance-->
			
			<div class="form-title">
				<b>B5 - AUDIT</b>			    
			</div>
			<!--audited-->
			<div class="row">
				<div class="col-sm-4">
					<%= f.input "Accounts audited in the last financial year" do %>
						<span class="input-icon icon-right">
						  	<%= f.input :audited, :as=> :select, :class =>"form-control", label: false %>
						</span>
					<% end %>
				</div>				
			</div> 
			
			<!--Projects sepending-->
			<div class="form-title">
				<b>B6 - PROJECT SPENDING BREAKDOWN</b>			    
			</div>
			
			<!--Add expenses -->
			<p>For amounts spent on projects, break it down to sectors in which it was spent in Kenya and other countries</p>
			<div class="row">
				<div class="col-sm-4">
					
				</div>
				<div class="col-sm-2">
					In Kenya
				</div>
				<div class="col-sm-2">
					In Other Countries
				</div>
			</div>
			<%= f.simple_fields_for :sectors do |p|%>
				<%= render 'sector_fields', :f=>p %>
            <% end %>	
            <div class="col-sm-3" align="left">
            	<%= link_to_add_association "Add Project", f, :sectors %>
            </div>
		    <!--end expenses-->
		    
		    <br />
		    <!--Projects sepending-->
			<div class="form-title">
				<b>B7 - BANKING</b>			    
			</div>
			
			<!--Add bank -->
			<p>Name(s) of bank(s) and branch(es) for this ngo</p>
			<div class="row">
				<%= f.simple_fields_for :fortunes do |p|%>
					<%= render 'fortune_fields', :f=>p %>
                <% end %>	
                
                <div class="col-sm-3" align="left">
                	<%= link_to_add_association "Add Bank", f, :fortunes %>
                </div>
            </div>
		    <!--end expenses-->
	</div>
</div>
