<div class="row">
    <div class="col-sm-12">	
		<div class="form-title">
			<b>C1 - Number of Personnel</b>
		</div>
		
		<!--New personnel field-->
		<%= f.simple_fields_for :employee do |p|%>
			<%= render 'employee_fields', :f=>p %>
        <% end %>	
        <!--/new personnel field--> 	
        
        <div class="form-title">
			<b>C2 - Privileges</b>
		</div>
		<p>Privileges accorded to Volunteers/Interns </p>
		<!--assets fields added through associations-->
   	    
			<div class="row">
				<div class="col-sm-3">
					<span class="input-icon icon-right">
					  	
					</span>
				</div>
				<div class="col-sm-2">		
					<span class="input-icon icon-right">
					  	Volunteers
					</span>
				</div>
				
				<div class="col-sm-2">
					<span class="input-icon icon-right">
					  	Interns
					</span>
				</div>
				|
				<div class="col-sm-2">		
					<span class="input-icon icon-right">
					  	Volunteers 
					</span>
				</div>
				
				<div class="col-sm-2">
					<span class="input-icon icon-right">
					  	Interns
					</span>
				</div>
			</div>
	
		<!--New personnel field-->
		<%= f.simple_fields_for :benefits do |p|%>
			<%= render 'benefit_fields', :f=>p %>
        <% end %>
        <!--/new personnel field--> 
        
       <br/>
	<!--Training of the staff-->
	<div class="form-title">
	<b>C3 - TRAINING</b>
	</div>
	<p>Number of Staff Members trained during the reporting period </p>
		<!--assets fields added through associations-->
   	    <div class="row">
			<div class="row">
				<div class="col-sm-4">
					<span class="input-icon icon-right">
					  	
					</span>
				</div>
				<div class="col-sm-2">		
					<span class="input-icon icon-right">
					  	Local Staff
					</span>
				</div>
				
				<div class="col-sm-2">
					<span class="input-icon icon-right">
					  	International Staff
					</span>
				</div>
			</div>
		</div>
		<!--New training field-->
		<%= f.simple_fields_for :trained_members do |p|%>
			<%= render 'trained_member_fields', :f=>p %>
        <% end %>
        <!--/new training field--> 	
	</div>
</div>
