<div class="row">
    <div class="col-sm-12">
		<div class="form-title">
			<b>E1 - GOVERNANCE </b>
		</div>
		
		<!--New personnel field-->
		<%= f.simple_fields_for :govern do |p|%>
			<%= render 'govern_fields', :f=>p %>
        <% end %>
        <!--/new training field-->
        
        <p>Frequency of elections as per Constitution</p>
        <!--New election field-->
		<%= f.simple_fields_for :occurences do |p|%>
			<%= render 'occurence_fields', :f=>p %>
        <% end %>
        <!--/new election field-->
	</div>
</div>
