<div class="row">
    <div class="col-sm-12">	
		
		<!--Projects carried out-->		
		<div class="form-title">
		    <b>D1 - PROJECTS CARRIED OUT</b>
		</div>
		<p>List of NGO's Assets and Reserves, those stationed in Kenya only </p>
		<!--assets fields added through associations-->
   	    <div class="row">
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  	Sector
				</span>
			</div>
			
			<div class="col-sm-3">		
				<span class="input-icon icon-right">
				  	Projects carried out this year Brought forward from last year
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  	Projects carried out this year that were started during the year
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  	Projects carried out this year that were started during the year
				</span>
			</div>
		</div>	
			<%= f.simple_fields_for :projects do |p|%>
				<%= render 'project_fields', :f=>p %>
	        <% end %>
	        <!--end of project carried out--> 
		<br/>
		
		<!--Contributions-->
		<div class="form-title">
		    <b>D2 - CONTRIBUTIONS</b>
		</div>
		<p>Contributions from local community and Government (Projects carried out in Kenya only) </p>
		
		<!--Local contributions-->
		<hr class="wide"></hr>
		<p>1. From local community </p>
   	    <div class="row">
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  
				</span>
			</div>
			
			<div class="col-sm-3">		
				<span class="input-icon icon-right">
				  	Contributed
				</span>
			</div>
			
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  	Estimated Amount
				</span>
			</div>
		</div>
		
		<%= f.simple_fields_for :locals do |p|%>
			<%= render 'local_fields', :f=>p %>
        <% end %>

        <!--end of contributions by locals-->
         
		<br/>
		<hr class="wide"></hr>
		<p>2. From Government </p>
   	    <div class="row">
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  
				</span>
			</div>
			
			<div class="col-sm-3">		
				<span class="input-icon icon-right">
				  	Contributed
				</span>
			</div>
		</div>
		
		<%= f.simple_fields_for :contributions do |p|%>
			<%= render 'contribution_fields', :f=>p %>
        <% end %>	
		
     	<!--Tax waivers-->
     	<%= f.simple_fields_for :waivers do |p|%>
			<%= render 'waiver_fields', :f=>p %>
        <% end %>	
     	
		<br/>
		<!--collaborations-->
		<div class="form-title">
		    <b>D3 - COLLABORATION</b>
		</div>
		<p>Type of Organization collaborated with and Nature of collaboration (project carried out in Kenya only) </p>
   	    <div class="row">
			<div class="col-sm-3">
				<span class="input-icon icon-right">
				  
				</span>
			</div>
			
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Information Exchange
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Technical to Partner
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Technical from Partner
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Funding to Partner
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Funding from Partner
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Equipment to Partner
				</span>
			</div>
			<div class="col-sm-1">		
				<span class="input-icon icon-right">
				  	Equipment from Partner
				</span>
			</div>
		</div>	
		
		<%= f.simple_fields_for :collaborations do |p|%>
			<%= render 'collaboration_fields', :f=>p %>
        <% end %>	
       <!--end of collaborations--->
	</div>
</div>
