<%= f.hidden_field :finance_id, :value=> @finance.id %>

<% @elections.each do |election| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-3">
			  <span class="input-icon icon-right">
			  	<%= election.frequency %> 
			  	<%= f.hidden_field :election_id, :value=> election.id %>
			  </span>
		</div>
		
		<div class="col-sm-2">
			<span class="input-icon icon-right">
			  	<%= f.input :frequency, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
	</div>
<% end %>