<%= f.hidden_field :finance_id, :value=> @finance.id %>

<div class="col-sm-3">
	Asset Name
	<span class="input-icon icon-right">
	  	<%= f.association :asset, label_method: :item, value_method: :id, include_blank: false, :label => false %>
	</span>
</div>

<div class="col-sm-3">
	Number
	<span class="input-icon icon-right">
	  	<%= f.input :quantity, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="col-sm-3">
	Estimated Value
	<span class="input-icon icon-right">
	  	<%= f.input :value, :class =>"form-control", :label => false %>
	</span>
</div>

<div class="row">	
	<%= link_to_remove_association "Remove asset", f %>
</div>
