<%= f.hidden_field :finance_id, :value=> @finance.id %>
<!--form titles-->

<% @expenses.each do |c| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-3">
			  <span class="input-icon icon-right">
			  	<%= c.sector %> 
			  	<%= f.hidden_field :expense_id, :value=> c.id %>
			  </span>
		</div>
				
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_proj_kenya, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :prev_proj_others,as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :start_proj_kenya, as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :start_proj_others, as: :select,:class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :done_proj_kenya,as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-1">
			<span class="input-icon icon-right">
			  	<%= f.input :done_proj_others,as: :select, :class =>"form-control", :label => false %>
			</span>
		</div>
		
	</div>
<% end %>
