<%= f.hidden_field :finance_id, :value=> @finance.id %>

<!--Add frequency table-->
<div class="row">

	<div class="col-sm-4">
		<span class="input-icon icon-right">
		  	<%= f.association :expense, label_method: :sector, value_method: :id, include_blank: false, :label => false %>
		</span>
	</div>
	
	<div class="col-sm-2">
		<span class="input-icon icon-right">
		  	<%= f.input :cost_kenya, :class =>"form-control", :label => false %>
		</span>
	</div>
	
	<div class="col-sm-2">
		<span class="input-icon icon-right">
		  	<%= f.input :cost_others, :class =>"form-control", :label => false %>
		</span>
	</div>
	<%= link_to_remove_association "Remove project", f %>
</div>
