<%= f.hidden_field :finance_id, :value=> @finance.id %>
<!--form titles-->
<% @trainings.each do |c| %>
	<!--Add frequency table-->
	<div class="row">
		<div class="col-sm-4">
			  <span class="input-icon icon-right">
			  	<%= c.name %> 
			  	<%= f.hidden_field :training_id, :value=> c.id %>
			  </span>
		</div>
		
		<div class="col-sm-2">
			<span class="input-icon icon-right">
			  	<%= f.input :local_staff,  :class =>"form-control", :label => false %>
			</span>
		</div>
		
		<div class="col-sm-2">
			<span class="input-icon icon-right">
			  	<%= f.input :intl_staff, :class =>"form-control", :label => false %>
			</span>
		</div>
			
	</div>
<% end %>
