<%= f.hidden_field :finance_id, :value=> @finance.id %>
<!--form titles-->

<div class="row">	
	<div class="col-sm-3">
		<span class="input-icon icon-right">
		  	<%= f.input :item, :class =>"form-control", :label => false %>
		</span>
	</div>
	
	<div class="col-sm-3">
		<span class="input-icon icon-right">
		  	<%= f.input :amount, :class =>"form-control", :label => false %>
		</span>
	</div>
</div>
