<% provide(:title, 'Finances') %>
<% breadcrumb :finances, @finances, link_current: true, class: "active"  %>
<% provide(:header, "Show Finance" )%>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Finances List
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Cash Brought forward</th>
												<th>Income Subtotal</th>
												<th>Total Receiptss</th>
												<th>Assets Purchased in Kenya</th>
										</tr>
									</thead>
									<tbody>
										<%= render @finances %>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->                
			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
