<% provide(:title, 'New Finance') %>
<% breadcrumb :newfinance, @finance, link_current: true, class: "active"  %>
<% provide(:header, "New Finance Return Submission" )%>

<!-- Page Content -->
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="tabbedwizard" class="wizard wizard-tabbed" data-target="#tabbedwizardsteps">
            <ul class="steps">
                <li data-target="#tabbedwizardstep1" class="active"><span class="step">1</span>Finance<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep2"><span class="step">2</span>Personnel<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep3"><span class="step">3</span>Projects<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep4"><span class="step">4</span>Governance<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep5"><span class="step">5</span>DECLARATION<span class="chevron"></span></li>
            </ul>
        </div>
        
        <!--start form -->
        <%= simple_form_for(@finance, :role=> "form")  do |f| %>
        <div class="step-content" id="tabbedwizardsteps">
            <!--STEP 1 - Organization details-->
            <div class="step-pane active" id="tabbedwizardstep1">
	            <%= render 'newfinance', :f=>f %> 
         	</div>
         	<!--end of STEP 1 - details-->
         	
            <!--STEP 2 - Personnel-->
            <div class="step-pane" id="tabbedwizardstep2">
				<%= render 'newpersonnel', :f=>f %>
			</div> 
			<!--end STEP-2-personnel details-->
			
			<!--STEP 3 - Projects-->
            <div class="step-pane" id="tabbedwizardstep3">
            	<%= render 'newproject', :f=>f %>
            </div>
            
            <!--STEP 4 - Governance-->
            <div class="step-pane" id="tabbedwizardstep4">
            	<%= render 'newgovern', :f=>f %>
            </div>
            
            <!--STEP 5 - Declaration-->
            <div class="step-pane" id="tabbedwizardstep5">
            </div>
        </div><!--Progress bar-->
        
        <div class="actions actions-footer" id="tabbedwizard-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i>Prev</button>
                <button type="button" class="btn btn-default btn-sm btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                <%= f.button :submit, "Submit Report", :class=>"btn btn-default btn-sm btn-next" %>
            </div>
        </div>
    </div>
</div>

<% end %>
          
</div>
<!-- /.container-fluid -->

<!--takes care of the wizard-->
<script type="text/javascript">
        jQuery(function ($) {
            $('#simplewizardinwidget').wizard();
            $('#simplewizard').wizard();
            $('#tabbedwizard').wizard().on('finished', function (e) {
                Notify('Thank You! All of your information saved successfully.', 'bottom-right', '5000', 'blue', 'fa-check', true);
            });
            $('#WiredWizard').wizard();
        });
</script>
