<% provide(:title, "Show Finance" )%>
<% breadcrumb :finance, @finance, link_current: true, class: "active"  %>
<% provide(:header, "Show Finance" )%>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
            	<div class="col-lg-4">
                    <%= form_for(@finance, :role=> "form")  do |f| %>
                    
                    <fieldset>
                    	<div class="form-group">
                    		<%= f.label "Assets Count: " %> 
							<%= @finance.assets.count %>
                        </div>
                        <div class="form-group">
                    		<%= f.label "Incomes Count: " %> 
							<%= @finance.incomes.count %>
                        </div>
                    	<div class="form-group">
                    		<%= f.label "Expenses Count: " %> 
							<%= @finance.expenses.count %>
                        </div>
                        <div class="form-group">
                    		<%= f.label "Banks Count: " %> 
							<%= @finance.banks.count %>
                        </div>
                    	<div class="form-group">
                    		<%= f.label ":cash_brought_forward" %> 
							<%= best_in_place @finance, :cash_brought_forward, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":income_subtotal" %> 
                        	<%= best_in_place @finance, :income_subtotal, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":receipts_total" %> 
                        	<%= best_in_place @finance, :receipts_total, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":asset_purchase_kenya" %> 
							<%= best_in_place @finance, :asset_purchase_kenya, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":asset_purchase_others" %> 
							<%= best_in_place @finance, :asset_purchase_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":project_cost_kenya" %> 
							<%= best_in_place @finance, :project_cost_kenya, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":project_cost_others" %> 
							<%= best_in_place @finance, :project_cost_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":admin_cost_kenya" %> 
							<%= best_in_place @finance, :admin_cost_kenya, :type=> :input %>
                        </div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                        	<%= f.label ":admin_cost_others" %> 
                        	<%= best_in_place @finance, :admin_cost_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":local_staff_kenya" %> 
							<%= best_in_place @finance, :local_staff_kenya, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":local_staff_others" %> 
                        	<%= best_in_place @finance, :local_staff_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":intl_staff_kenya" %> 
                        	<%= best_in_place @finance, :intl_staff_kenya, :type=> :input %>
						</div>
                        
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                        	<%= f.label ":intl_staff_others" %> 
                        	<%= best_in_place @finance, :intl_staff_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":running_cost_kenya" %> 
							<%= best_in_place @finance, :running_cost_kenya, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":running_cost_others" %> 
                        	<%= best_in_place @finance, :running_cost_others, :type=> :input %>
                        </div>
                        
                        <div class="form-group">
                        	<%= f.label ":total_pay_kenya" %> 
                        	<%= best_in_place @finance, :total_pay_kenya, :type=> :input %>
						</div>
                        
                        <div class="form-group">
                        	<%= f.label ":total_pay_others" %> 
                        	<%= best_in_place @finance, :total_pay_others, :type=> :input %>
						</div>
						
						<div class="form-group">
                        	<%= f.label ":closing_balance" %> 
                        	<%= best_in_place @finance, :closing_balance, :type=> :input %>
						</div>
						
						<div class="form-group">
                        	<%= f.label ":actual_total_balance" %> 
                        	<%= best_in_place @finance, :actual_total_balance, :type=> :input %>
						</div>
						
						<div class="form-group">
                        	<%= f.label ":audited" %> 
                        	<%= best_in_place @finance, :audited, :type=> :input %>
						</div>
                    </fieldset>
                    <% end %>
               </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
