<% provide(:title, "Dashboard") %>
<% breadcrumb :root %>

<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themesecondary">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="0" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">50%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                        	<% if current_admin.org_status=="NEW NGO" %>
	                            <span class="databox-number themesecondary">GET STARTED</span>
	                            <div class="databox-text darkgray">
	                            	<%= link_to "Make a Class reservation", '#' %></div>
	                            <div class="databox-stat themesecondary radius-bordered">
	                                <i class="stat-icon icon-lg fa fa-tasks"></i>
	                            </div>
	                        <% else %>
	                        	<span class="databox-number themesecondary">GET STARTED</span>
	                            <div class="databox-text darkgray">
	                            	<%= link_to "Enter your money markets requirements details", '#' %></div>
	                            <div class="databox-stat themesecondary radius-bordered">
	                                <i class="stat-icon icon-lg fa fa-tasks"></i>
	                            </div>
	                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themethirdcolor">
                            <div class="databox-piechart">
                                <div data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="15" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.2)"><span class="white font-90">15%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themethirdcolor">1</span>
                            <div class="databox-text darkgray">NEW INVOICE</div>
                            <div class="databox-stat themethirdcolor radius-bordered">
                                <i class="stat-icon  icon-lg fa fa-envelope-o"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left bg-themeprimary">
                            <div class="databox-piechart">
                                <div id="users-pie" data-toggle="easypiechart" class="easyPieChart" data-barcolor="#fff" data-linecap="butt" data-percent="76" data-animate="500" data-linewidth="3" data-size="47" data-trackcolor="rgba(255,255,255,0.1)"><span class="white font-90">76%</span></div>
                            </div>
                        </div>
                        <div class="databox-right">
                            <span class="databox-number themeprimary"></span>
                            <div class="databox-text darkgray">
                            	STATUS OF APPLICATION
                            	<% if current_admin.reservation %>
                            		NO RESERVATIONS MADE 
                            	<% else %>
                            		<%= current_admin.reservation %>
                            	<%end%>
                            </div>
                            <div class="databox-state bg-themeprimary">
                                <i class="fa fa-check"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="databox bg-white radius-bordered">
                        <div class="databox-left no-padding">
                        	<%= image_tag("#", alt: "constitution", :width=> "65px", :height=>"65px")%>
                            
                        </div>
                        <div class="databox-right padding-top-20">
                            <div class="databox-stat palegreen">
                                <i class="stat-icon icon-xlg fa fa-book"></i>
                            </div>
                            <div class="databox-text darkgray">Privacy policy</div>
                            <div class="databox-text darkgray">
                            	<%= link_to "DOWNLOAD HERE", "#"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of header part-->
    
    
