<% provide(:title, '404') %>
<div class="body-404">
    <div class="error-header"> </div>
    <div class="container ">
        <section class="error-container text-center">
            <h1>404</h1>
            <div class="error-divider">
                <h2>page not found</h2>
                <p class="description">We Couldn’t Find This Page</p>
            </div>
            <%= link_to "Home", root_url, :class=>'return-btn' %>
				              
        </section>
    </div>
</div>
<!--Body Ends-->