<% provide(:title, "Application Step 2") %>
<% provide(:header, 'Application Step 2') %>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">APPLICATION</h1>
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					Congratulations for meeting requirements for registration of NGOs in Kenya. To complete the process, 
					follow the laid processes below.
					<ol>
						
						<li><%= link_to 'Add Organization Details', neworganization_path  %></li>	
						<li><%= link_to 'Add Officials Details', newofficial_path  %></li>				
					</ol>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->                
			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
