<tr>
  	<td><%= best_in_place employee, :prev_year_local_kenya, :type => :input %></td>
  	<td><%= best_in_place employee, :prev_year_intl_kenya, :type=> :input %></td>
  	<td><%= best_in_place employee, :current_year_local_kenya, :type => :input %></td>
  	<td><%= best_in_place employee, :current_year_intl_kenya, :type=> :input %></td>
  	<td><%= best_in_place employee, :prev_year_local_others, :type=> :input %></td>	
  	<td><%= best_in_place employee, :prev_year_intl_others, :type=> :input %></td>
  	<td><%= best_in_place employee, :current_year_local_others, :type=> :input %></td>	
  	<td><%= best_in_place employee, :current_year_intl_others, :type=> :input %></td>
  	
</tr>