
1. Stationed in Kenya
	Previous Year
		<%= f.input :prev_year_local_kenya, :placeholder=>"Local Staff", autofocus: true, :class =>"form-control" %>
	    <%= f.input :prev_year_intl_kenya, :placeholder=>"International Staff", :class =>"form-control" %>
	Current Year
	    <%= f.input :current_year_local_kenya , :placeholder=>"Local Staff", :class =>"form-control" %>
	   	<%= f.input :current_year_intl_kenya , :placeholder=>"International Staff", :class =>"form-control" %>
	Staff who came in this year
		<%= f.input :this_year_local_add_kenya, :placeholder=>"Local Staff",:class =>"form-control" %>
	    <%= f.input :this_year_intl_add_kenya, :placeholder=>"International Staff", :class =>"form-control" %>		
	Staff who left this year
		<%= f.input :this_year_local_left_kenya , :placeholder=>"Local Staff", :class =>"form-control" %>
	    <%= f.input :this_year_intl_left_kenya , :placeholder=>"International Staff", :class =>"form-control" %>  
     
2. Stationed in other country (Add field for countries)
	Previous Year
	    <%= f.input :prev_year_local_others , :placeholder=>"Local Staff", :class =>"form-control" %>
	    <%= f.input :prev_year_intl_others , :placeholder=>"International Staff", :class =>"form-control" %>
	Current Year
      	<%= f.input :current_year_local_others , :placeholder=>"Local Staff", :class =>"form-control" %>
	    <%= f.input :current_year_intl_others , :placeholder=>"International Staff", :class =>"form-control" %>
	
3. Volunteers/ Interns
	Previous Year
		(to be added)

	Current Year	
		(to be added)
		
	