<% provide(:title, 'New Personnel') %>

<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Personnel Information</h1>
                <div class="row">
                	<div class="col-lg-6">
                		<%= simple_form_for(@employee, :role=> "form")  do |ff| %>
						<%= render 'shared/error_messages' %>
                        	<%= render 'newemployee', :f => ff %>
                        <%= ff.button :submit, "Add Personnel", :class=>"btn btn-lg btn-success btn-block" %>
						<% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

