<% provide(:title, "Show Employee" )%>

<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Show Employee</h1>
                <div class="row">
                	<div class="col-lg-12">
                           	<div class="form-group">
    							<%= @employee.prev_year_local_kenya %>
                            </div>
                            
                            <div class="form-group">
    							<%= @employee.prev_year_intl_kenya %>
                            </div>
                            
                            <div class="form-group">
    							<%= @employee.current_year_local_kenya %>
                            </div>
                            
                            <div class="form-group">
    							<%= @employee.current_year_intl_kenya %>
                            </div>
                            
                            <div class="form-group">
    							<%= @employee.prev_year_local_others %>
                            </div>
                            
                            <div class="form-group">
    							<%= @employee.prev_year_intl_others %>
                            </div>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="col-lg-6">
        	<div class="form-group">
        	</div>
        	<div class="form-group">
        	</div>
        </div>
    </div>
    <!-- /.container-fluid -->
