<% provide(:title, 'New Target') %>
<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Target Group</h1>
                <div class="row">
                	<div class="col-lg-6">
                        <%= simple_form_for(@target, :role=> "form")  do |f| %>
                        <%= render 'shared/error_messages' %>
	                        <%=render 'newtarget', :f=>f %>
                        <%= f.button :submit, "Save Target", :class=>"btn btn-lg btn-success btn-block" %>
                        <% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

