<div class="register-container animated fadeInDown">
    <div class="registerbox bg-white">
    	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= devise_error_messages! %>

        <div class="registerbox-title">Register</div>

        <div class="registerbox-caption ">Please fill in your information</div>
        <div class="registerbox-textbox">
        	Full Names
            <%= f.input_field :names,  label: false %>
        </div>
        <div class="registerbox-textbox">
        	Preffered Username
            <%= f.input_field :username, label: false %>
        </div>
        <div class="registerbox-textbox">
        	Email 
            <%= f.input_field :email, as: :email, :class =>"form-control", label: false %>
        </div>
        <hr class="wide" />
        <div class="registerbox-textbox">
        	Password
            <%= f.input_field :password, as: :password, autocomplete: "off", :class =>"form-control", label: false %>
		    <% if @validatable %>
		    	<em>(<%= @minimum_password_length %> characters minimum)</em>
		    <% end %>
        </div>
        <div class="registerbox-textbox">
        	Password Confirmation
            <%= f.input_field :password_confirmation, as: :password, autocomplete: "off", :class =>"form-control", label: false %>
        </div>
         
        <div class="row">
            <div class="col-sm-7">
                <div class="registerbox-textbox no-padding-bottom">
                    I am
                    <%= f.input_field :role, label: true, collection: [['Learner','intending to enroll'], ['Guest','I\'m just visiting']], 
                    as: :semantic_ui_radio_buttons, :class=>"text", value_method: :first, label_method: :last %>
                    <font color="red"><%= resource.errors.messages[:role].join(" ") %></font>
                </div>
                </div>  
        </div>
        <!--<div class="registerbox-textbox">
        	Upload Passport Photo
            <%= f.input_field :passport, as: :image_preview, :class =>"form-control",
		 		:label => "Passport Photo", label: false %>	
        </div>-->
        <div class="registerbox-textbox no-padding-bottom">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="colored-primary" checked="checked">
                    <span class="text darkgray">I agree to NevlahCapital's <a class="themeprimary">Terms of Service</a> and Privacy Policy</span>
                </label>
            </div>
        </div>
        <div class="registerbox-submit">
            <%= f.submit "SIGN UP", :class=>"btn btn-primary pull-right" %>                
        </div>
    </div>
    
    <% end %>
    
    <div class="logobox">
    	<%= render "devise/shared/links" %>
    </div>
</div>
	
