<% provide(:title, 'My Profile') %>
<% breadcrumb :profile, edit_admin_registration_path, link_current: true, class: "active"  %>
<% provide(:header, "Profile | "+ current_admin.names)%>

<div class="page-body">
	<div class="row">
	    <div class="col-md-12">
	        <div class="profile-container">
	        	<!--start of the header part-->
	            <div class="profile-header row">
	                <div class="col-lg-2 col-md-4 col-sm-12 text-center">
	                	<%= image_tag(current_admin.passport.url, alt: "", class: "header-avatar") %>
	                </div>
	                <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
	                    <div class="header-fullname"><%current_admin.names %></div>
	                    <a href="#" class="btn btn-palegreen btn-sm  btn-follow">
	                        <i class="fa fa-check"></i>
	                        Following
	                    </a>
	                    <div class="header-information">
	                        About yourself
	                    </div>
	                </div>
	                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
	                    <div class="row">
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink">284</div>
	                            <div class="stats-title">Total visits</div>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink">803</div>
	                            <div class="stats-title">Courses Taken</div>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink">56%</div>
	                            <div class="stats-title">Level of Completion</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            <i class="glyphicon glyphicon-map-marker"></i> Location
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            Invoices: <strong>KES.250</strong>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            Age: <strong>NA</strong>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--end of the header part-->
	            
	            <!--start of body part---->
                <div class="profile-body">
                        <div class="col-lg-12">
                            <div class="tabbable">
                                <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                    <li class="active">
                                        <a data-toggle="tab" href="#overview">
                                            Overview
                                        </a>
                                    </li>
                                    <li class="tab-palegreen">
                                        <a data-toggle="tab" id="contacttab" href="#contacts">
                                            Contacts
                                        </a>
                                    </li>
                                    <li class="tab-yellow">
                                        <a data-toggle="tab" href="#settings">
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                                <!--oevrview-->
                                <div class="tab-content tabs-flat">
                                    <div id="overview" class="tab-pane active">
                                        <div class="row profile-overview">
                                       	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                        <h6 class="row-title before-themeprimary no-margin-top">PROFILE VISITS</h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                                    	Names
                                                    	 <%= f.input_field :names, class: 'form-control', label: false %>
                                            </div>
                                            <div class="col-sm-4">
                                            	Email Address
                                                        <%= f.input_field :email, as: :email, :class =>"form-control", label: false %>
                                            </div>
                                         </div>
                                        
                                        <div class="row">
                                        	<div class="col-sm-4">
                                        	Gender
                                        	<%= f.input_field :gender, label: true, collection: [['M','Male'], ['F','Female']], 
								            	as: :semantic_ui_radio_buttons, :class=>"text", value_method: :first, label_method: :last %>
								        	</div>
                                        </div> 
                                        
                                         <div class="row">
                                                <div class="col-sm-6">
                                                    Upload Passport Photo
									                <%= f.input :passport, as: :image_preview, :class =>"form-control",
												 		:label => "Passport Photo", label: false %>
                                                </div>
                                              
                                            </div>
                                            <div class="row">
                                            	<div class="col-sm-3">
                                            		<%= f.button :submit, "Update Profile", :class=>"btn btn-primary pull-right" %>   
                                            	</div>
                                            </div>
                                        <% end %>
                                        </div>
                                    </div>
                                    <!--overview-->
                                    
                                    
                                    <div id="contacts" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="profile-contacts">

                                                    <div class="profile-badge orange"><i class="fa fa-phone orange"></i><span>Contacts</span></div>
                                                    <div class="contact-info">
                                                        <p>
                                                            Phone	:  <br>
                                                            Cell		: 
                                                        </p>
                                                        <p>
                                                            Email		: <%= current_admin.email %>
                                                            <br>
                                                            Skype		: 
                                                        </p>
                                                        <p>
                                                            Facebook	: 
                                                            <br>
                                                            Twitter	: @
                                                        </p>
                                                    </div>
                                                    <div class="profile-badge azure">
                                                        <i class="fa fa-map-marker azure"></i><span>Location</span>
                                                    </div>
                                                    <div class="contact-info">
                                                        <p>
                                                            Address<br>
                                                            
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="contact-map" class="animated flipInY"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="settings" class="tab-pane">
                                        <!--cancel my account-->
					                    <div class="panel-heading">
					                      <h3 class="panel-title"><strong>Disable My Account</strong></h3>
					                  </div>
					                  <div class="panel-body">
					                    <div class="form-group">
					                      <%= button_to "Disable my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
					                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                                </div>
                
                <!--/End of body part:)-->
                                
</div>
</div>
</div>



