<% provide(:title, 'Sign Up') %>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 	<div class="register-container animated fadeInDown">
        <div class="registerbox bg-white">
            <div class="registerbox-title">Register</div>
			<!--Error Messages-->
			<div class="registerbox-textbox no-padding-bottom">
				<%= render 'layouts/error_messages', object: resource %>
			</div>
			<!--/error messages-->
			
            <div class="registerbox-caption ">Please fill in your information</div>
            <div class="registerbox-textbox no-padding-bottom">
            	Full Names
                <%= f.input_field :names, class: 'form-control', label: false %>
                
            </div>
            <div class="registerbox-textbox no-padding-bottom">
            	Email 
                <%= f.input_field :email, as: :email, :class =>"form-control", label: false %>
                <font color="red"><%= resource.errors.messages[:email].join(" ") %></font>
            </div>
            
            <div class="registerbox-textbox no-padding-bottom">
            	Password
                <%= f.input_field :password, as: :password, autocomplete: "off", :class =>"form-control", label: false %>
			    <font color="red"><%= resource.errors.messages[:password].join(" ") %></font>
		    </div>
		    
		    <div class="registerbox-textbox no-padding-bottom">    
            	Password Confirmation
                <%= f.input_field :password_confirmation, as: :password, autocomplete: "off", :class =>"form-control", 
                label: false %>
                <font color="red"><%= resource.errors.messages[:password_confirmation].join(" ") %></font>
		    </div>

			<div class="row">
	        	<div class="col-sm-7">
	        		<div class="registerbox-textbox no-padding-bottom">
			     		I am
		            	<%= f.input_field :role, label: true, collection: [['NGO','Intending to enroll'], ['USER','I\'m just visiting']], 
		            	as: :semantic_ui_radio_buttons, :class=>"text", value_method: :first, label_method: :last %>
		            	<font color="red"><%= resource.errors.messages[:role].join(" ") %></font>
			        </div>
		         </div>  
			</div>
            <!-->
            <div class="registerbox-textbox">
            	Upload Passport Photo
                <%= f.input :passport, as: :image_preview, :class =>"form-control",
			 		:label => "Passport Photo", label: false %>
            </div>-->
            
            <!--Terms and conditions agreement-->
            <div class="registerbox-textbox">
	            <%= f.input_field :agreement, as: :semantic_ui_radio_buttons, 
	            collection: [['I agree to the Nevlah Capital\'s Terms of Service and Privacy Policy','YES']], 
	            :class=> "text", value_method: :last %>
	            <font color="red"><%= resource.errors.messages[:agreement].join(" ") %></font>
	        </div>
        </div>
        
        <div class="logobox">
        	<div class="row">
        		<div class="col-sm-6">
	        		<%= render "devise/shared/links" %>
	        	</div>
	        	<div class="col-sm-6">
		        	<div class="registerbox-submit">
		                <%= f.button :submit, "SIGN UP", :class=>"btn btn-primary pull-right" %>                
		            </div>
	            </div>
	        </div>
        </div>
    </div>	
<% end %>
