<tr>
  	<td><%= best_in_place govern, :meetings_constitution, :type => :input %></td>
  	<td><%= best_in_place govern, :meetings_last_year, :type=> :input %></td>
  	<td><%= best_in_place govern, :meetings_current_year, :type=> :input %></td>	
  	<td><%= best_in_place govern, :last_agm_meeting, :type=> :input %></td>
  	<td><%= best_in_place govern, :last_election, :type=> :input %></td>
  	<td><%= best_in_place govern, :total_officials, :type=> :input %></td>
  	<td><%= best_in_place govern, :lost_assets, :type=> :input %></td>
  	<td><%= link_to "delete", govern, method: :delete, data: {confirm: "are you sure?"} %></td>
</tr>