<%= f.hidden_field :finance_id, :value=> @finance.id %>
<!--form titles-->

<div class="row">
	<div class="col-sm-2">
	   <span class="input-icon icon-right">
	  	<%= f.input :meetings_constitution, :class =>"form-control" %>
		</span>
	</div>
	
	<div class="col-sm-1">
		<span class="input-icon icon-right">
		  	<%= f.input :local_vol, as: :select, :class =>"form-control", :label => false %>
		</span>
	</div>
	
	<div class="col-sm-1">
		<span class="input-icon icon-right">
		  	<%= f.input :local_intern,as: :select, :class =>"form-control", :label => false %>
		</span>
	</div>
	
	<div class="col-sm-1">
		<span class="input-icon icon-right">
		  	<%= f.input :intl_vol, as: :select, :class =>"form-control", :label => false %>
		</span>
	</div>
	
	<div class="col-sm-1">
		<span class="input-icon icon-right">
		  	<%= f.input :intl_intern, as: :select,:class =>"form-control", :label => false %>
		</span>
	</div>
		
</div>


<%= f.input :meetings_last_year, :placeholder=>"Meetings Last Year", :class =>"form-control" %>
<%= f.input :meetings_current_year, :placeholder=>"Meetings This Year ", :class =>"form-control" %>
<%= f.input :last_agm_meeting, as: :date, :placeholder=>"Last AGM Meeting", :class =>"form-control" %>
<%= f.input :last_election, as: :date, :placeholder=>"Last Election", :class =>"form-control" %>
<%= f.input :total_officials, :placeholder=>"Total Number of Officials", :class =>"form-control" %>
<%= f.input :lost_assets, as: :boolean, checked_value: true, unchecked_value: false, :placeholder=>"Any lost Assets?", :class =>"form-control" %>