<% provide(:title, 'Governs') %>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Name Governs</h1>
            <!-- /.row -->
            
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							New Applications
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>:meetings_constitution</th>
											<th>:meetings_last_year</th>
											<th>:meetings_current_year</th>
											<th>:last_agm_meeting</th>
											<th>:last_election</th>
											<th>:total_officials</th>
											<th>:lost_assets</th>
										</tr>
									</thead>
									<tbody>
										<%= render @governs %>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->                
			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
