<% provide(:title, 'New govern') %>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Name Govern</h1>
            <div class="row">
            	<div class="col-lg-6">
                    <%= simple_form_for(@govern, :role=> "form")  do |ff| %>
                    	<%= render 'newgovern', :f=> ff %>
                    <%= ff.button :submit, "Submit", :class=>"btn btn-lg btn-success btn-block" %>
                    <% end %>
               </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
