<% provide(:title, "Show Govern" )%>

<div class="page-header">

<h4> <%= link_to "governs", governs_path %> > 
	<small>
	</small>
</h4>

</div>
<div class="row">
  <aside class="span4">
    <section>
      <b>Constitution</b> <%= @govern.meetings_constitution %> </br>
      <b>Meetings Last Year:</b> <%= @govern.meetings_last_year %> </br>
      <b>Meetings this Year:</b> <%= @govern.meetings_current_year %> </br>
      <b>Last AGM Meeting:</b> <%= @govern.last_agm_meeting %> </br>
      <b>LAst Election:</b> <%= @govern.last_election %> </br>
      <b>Number of Officials:</b> <%= @govern.total_officials %> </br>
      <b>Lost Assets:</b> <%= @govern.lost_assets %> </br>
    </section>
  </aside>
</div>