<div class="row">
	<div class="col-sm-4">
		Phone Number
		<%= f.input :telephone , label: false, :class =>"form-control" %>
	</div>	
	<div class="col-sm-4">
		Email
		<%= f.input :email , label: false, :class =>"form-control" %>
	</div>	
</div>

<div class="row">
	<div class="col-sm-4">
		Postal Address
		<%= f.input :postal_address,  label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Permanent Address
		<%= f.input :permanent_address , label: false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Residential Address
		<%= f.input :residential_address , label: false, :class =>"form-control" %>
	</div>
</div>






