<div class="row">
	<div class="col-sm-3">
		<%= f.input :name,label:false, autofocus: true, :class =>"form-control" %>
	</div>
	<div class="col-sm-3">
		<%= f.input :certificate, label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-3">
		<%= f.input :start, as: :date, html5: true,label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-3">
		<%= f.input :completion, as: :date, html5: true, label:false, :class =>"form-control" %>
	</div>	
</div>


