<tr>
  	<td><%= link_to official.name, official %></td>
  	<td><%= best_in_place official, :postal_address, :type=> :input %></td>
  	<td><%= best_in_place official, :permanent_address, :type=> :input %></td>
  	<td><%= best_in_place official, :nationality_current, :type=> :input %></td>
  	<td><%= best_in_place official, :residential_address, :type=> :input %></td>
  	<td><%= link_to "remove", official, method: :delete, data: {confirm: "are you sure?"} %></td>
</tr>