<div class="row">
	<div class="col-sm-4">
		Full Names
		<%= f.input :name, label: false, autofocus: true, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Previous Name (If Applicable)
		<%= f.input :previous_name, label: false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Official Passport Picture
		<span class="input-icon icon-right">
		  	<%= f.input :passport, as: :image_preview, :class =>"form-control",
		  	 input_html: {preview_version: :thumb}, :label => false %>
		</span>
	</div>
</div>


<div class="row">
	<div class="col-sm-4">
		Designation
		<%= f.input :designation, as: :select, collection: [['Chairperson', 'Chairperson'],['Treasurer', 'Treasurer'],
		['Secretary', 'Secretary']], label: false %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		County
		<%= f.input :county , :class =>"form-control", label:false %>
	</div>
	
	<div class="col-sm-4">
		Location
		<%= f.input :location, :class =>"form-control", label:false %>
	</div>
	<div class="col-sm-4">
		Sub Location
		<%= f.input :sub_location, :class =>"form-control", label:false %>
	</div>
</div>

<div class="row">
	<div class="col-sm-3">
		Current Nationality
		<%= f.input :nationality_current, label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-3">
		Previous Nationality (If applicable)
		<%= f.input :nationality_previous, label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-3">
		Date of Birth
		<%= f.input :date_of_birth,  as: :date, html5: true, start_year: Date.today.year - 90,
	      end_year: Date.today.year - 12, discard_day: true,
	      order: [:month, :year], label: false %>
	</div>
	<div class="col-sm-3">
		Place of Birth
		<%= f.input :place_of_birth, :class =>"form-control", label: false %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		Passport Number
		<%= f.input :passport_number , label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Upload ID
		<span class="input-icon icon-right">
		  	<%= f.input :id_upload, as: :image_preview, :class =>"form-control",
		  	 input_html: {preview_version: :thumb}, :label => false %>
		</span>
	</div>
	<div class="col-sm-4">
		Plase of Issue of Passport/ID
		<%= f.input :place_issue_passport , label: false, :class =>"form-control" %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		PIN Number
		<%= f.input :pin_number , label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Occupation
		<%= f.input :occupation , label:false, :class =>"form-control" %>
	</div>
</div>

<div class="row">
	<div class="col-sm-4">
		Place of Attainment
		<%= f.input :attainment_place , label:false, :class =>"form-control" %>
	</div>
	<div class="col-sm-4">
		Date of Attainment
		<%= f.input :attainment_date,  as: :date, html5: true, label:false, :class =>"form-control" %>
	</div>
</div>
