<% provide(:title, 'New official') %>
<% breadcrumb :newofficial, @fficials, link_current: true, class: "active"  %>
<% provide(:header, "Add Official" )%>

<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
      <%= simple_form_for(@official, :role=> "form")  do |f| %>
       	<%= f.hidden_field :organization_id, :value => 1 %>
        <div id="tabbedwizard" class="wizard wizard-tabbed" data-target="#tabbedwizardsteps">
            <ul class="steps">
                <li data-target="#tabbedwizardstep1" class="active"><span class="step">1</span>Personal Details<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep2"><span class="step">2</span>Contact Details<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep3"><span class="step">3</span>Education<span class="chevron"></span></li>
            </ul>

        </div>
        <div class="step-content" id="tabbedwizardsteps">
	            <div class="step-pane active" id="tabbedwizardstep1">
	            	<%= render 'personal_details_fields', :f=>f %>
	            </div>
	            
	            <div class="step-pane" id="tabbedwizardstep2">
	            	<%= render 'contact_details', :f=>f%>
	            </div>
	            
	            <div class="step-pane" id="tabbedwizardstep3">
	            	<!--start of education fields-->
	            	<div class="row">
						<div class="col-sm-3">
							Institution
						</div>
						<div class="col-sm-3">
							Certificate
						</div>
						<div class="col-sm-3">
							Date Started
						</div>
						<div class="col-sm-3">
							Date Completed
						</div>	
					</div>
                    <%= f.fields_for :educations do |education|%>
                    	<%= render 'education_fields', :f => education %>
                    <% end %>
                   <!--end of education fields--> 
	            </div>
        </div>
        <div class="actions actions-footer" id="tabbedwizard-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i>Prev</button>
                <button type="button" class="btn btn-default btn-sm btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                <%= f.button :submit, class: "btn btn-default btn-sm btn-next" %>
            </div>

        </div>
        <% end %>
    </div>
</div>
