<% provide(:title, "Show Official" )%>

<div class="page-header">

<h4> <%= link_to "officials", officials_path %> > 
	<small>
	<%= @official.name %>
	</small>
</h4>

</div>
<div class="row">
  <aside class="span4">
    <section>
      <b>Names:</b> <%= @official.name %> </br>
      <b>Postal Address :</b> <%= @official.postal_address %> </br>
      <b>Permanent Address:</b> <%= @official.permanent_address %> </br>
      <b>Current Nationality</b> <%= @official.nationality_current %> </br>
      <b>Residential Address:</b> <%= @official.residential_address %> </br>
      <b>Passport</b> <%= image_tag @official.passport.url, :alt => "Passport", width: 100, height: 100 %> </br>
      <b>Identification</b> <%= image_tag @official.id_upload.url, :alt => "ID/Passport", width: 100, height: 100 %> </br>
    </section>
  </aside>
</div>