<%= simple_form_for(@bank, :role=> "form")  do |f| %>
	<%= render 'shared/error_messages' %>
		<%= f.input :name, :placeholder=>"Name", autofocus: true, :class =>"form-control" %>
		<%= f.input :branch, :placeholder=>"Branch", :class =>"form-control" %>
		<%= f.submit "Add bank", :class=>"btn btn-lg btn-success btn-block" %>
<% end %>