<% provide(:title, 'New Bank') %>
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Bank</h1>
                <div class="row">
                	<div class="col-lg-6">
                        <%= render 'bank' %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->