<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
	<%= f.hidden_field :reset_password_token %>
    <%= f.input :password, as: :password, autofocus: true, placeholder: "Password", autocomplete: "off", :class =>"form-control" %>
    <%= f.input :password_confirmation, as: :password, autofocus: true, placeholder: "Password Confirmation", autocomplete: "off", :class =>"form-control" %>
    <%= f.button :submit, "Change My Password", :class=>"btn btn-lg btn-success btn-block" %>
<% end %>