<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	<%= devise_error_messages! %>
   	<%= f.input :email, as: :email, :placeholder=>"E-Mail", autofocus: true, :class =>"form-control" %>
    <%= f.button :submit, "Send me reset password instructions", :class=>"btn btn-lg btn-success btn-block" %>
<% end %>