<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Change your password</h3>
                </div>
                <div class="panel-body">
                    <%= render 'editpassword'%>
                    <div class="form-group">
                    <%= render "devise/shared/links" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
