<% provide(:title, 'New Income') %>
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Income</h1>
                <div class="row">
                	<div class="col-lg-6">
                        <%= simple_form_for(@income, :role=> "form")  do |f| %>
                        <%= render 'shared/error_messages' %>
                        	<%=render 'newincome', :ff=>f %>
                       	<%= f.button :submit, "Add income", :class=>"btn btn-lg btn-success btn-block" %>
                        <% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
