<div class="widget-body">
    <div id="registration-form">
            <div class="form-title">
                Important notes
            </div>
            <div class="row">
                <div class="col-sm-12">
                	<ol>
                    	<li>Applicants can obtain the prototype constitution by downloading from here.

						<li>If the applicant has a previous registration/incorporation, an applicant is required to produce a 
					notarized copy of the relevant registration certificate. In addition, this should be accompanied by 
					a letter of authorizationfrom the board of such an organization.
					
						<li>For organizations with previous
					</ol>
                </div>                
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <%= image_tag "beyond/logo.png", :height=>'100%', :width=>'100%' %>
                </div>
            </div>
    </div>
</div>