<%= simple_form_for(@reservation, :role=> "form")  do |f| %>
	<%= f.hidden_field :admin_id, :value => current_admin.id %>
	<%= f.hidden_field :status, :value => 'WAITING'%>
	<%= f.hidden_field :reasons, :value => 'Enter Reasons'%>
	<%= f.hidden_field :officer, :value => current_admin.id %>
	<%= f.hidden_field :approved_name, :value => 'Approved Name'%>
	<%= f.hidden_field :fee, :value => 0.0 %>
	
	<!--name of contact person-->
	<div class="form-group">
		<%= f.input "Names" do %>
			<span class="input-icon icon-right">
			  	<%= f.input_field :names, value: current_admin.email, :disabled=>false,  :class =>"form-control"%>
				<i class="glyphicon glyphicon-user circular badge-blue"></i>
				<font color="red"><%= @reservation.errors.messages[:names].join(" ") %></font>
			</span>
		<% end %>
	</div>
	
	<!-- address of contact person -->
	<div class="form-group">
		<%= f.input "Address" do %>
			<span class="input-icon icon-right">
			  	<%= f.input_field :address,  as: :text, :class =>"form-control" %>
				<i class="glyphicon glyphicon-text-width"></i>
				<font color="red"><%= @reservation.errors.messages[:address].join(" ") %></font>
			</span>
		 <% end %>
	</div>
	
	<!-- name chosen -->
	<div class="form-title">
	    Name Choices
	</div>
	
	<div class="row"> 	
	    <div class="col-sm-12">
	        <div class="form-group">
	            <%= f.input "First Name Choice " do %>
					<span class="input-icon icon-right">
					  	<%= f.input_field :name1, label: "Name Choice 1", autofocus: true, :class =>"form-control" %>
						<i class="glyphicon glyphicon-book palegreen"></i>
						<font color="red"><%= @reservation.errors.messages[:name1].join(" ") %></font>
					</span>
				 <% end %>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-sm-12">
	        <div class="form-group">
	            <%= f.input "Second Name Choice" do %>
					<span class="input-icon icon-right">
					  	<%= f.input_field :name2, label: "Name Choice 2", :class =>"form-control" %>
						<i class="glyphicon glyphicon-book darker"></i>
						<font color="red"><%= @reservation.errors.messages[:name2].join(" ") %></font>
					</span>
				 <% end %>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-sm-12">
	        <div class="form-group">
	            <%= f.input "THird Name Choice" do %>
					<span class="input-icon icon-right">
					  	<%= f.input_field :name3, label: "Name Choice 3", :class =>"form-control" %>
						<i class="glyphicon glyphicon-book darkorange"></i>
						<font color="red"><%= @reservation.errors.messages[:name3].join(" ") %></font>
					</span>
				 <% end %>
	        </div>
	    </div>
	</div>
	
	<hr class="wide" />
	<div class="form-group">
	     <%= f.input_field :payment, as: :semantic_ui_radio_buttons, collection: [['Generate Invoice',1]], 
	            :class=> "text", value_method: :last, :checked=>false %>
	            <font color="red"><%= @reservation.errors.messages[:payment].join(" ") %></font>
	</div>
	
	<%= f.button :submit, "Register", :class=> "btn btn-blue" %>
<% end %>
