<tr>
  	<td><%= link_to reservation.names, reservation %></td>
  	<td><%= best_in_place reservation, :address, :type=> :input %></td>
  	<td><%= best_in_place reservation, :name1, :type=> :input %></td>	
  	<td><%= best_in_place reservation, :name2, :type=> :input %></td>
  	<td><%= best_in_place reservation, :name3, :type=> :input %></td>
  	<td><%= reservation.status %></td>
  	<td><%= best_in_place reservation, :payment, :type=> :input %></td>
</tr>