<% provide(:title, 'Reservations') %>
<% breadcrumb :reservations, @reservations, link_current: true, class: "active"  %>
<% provide(:header, 'List Reservations') %>
<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- /.row -->
            
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							New Applications
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Names</th>
												<th>Address</th>
												<th>Name 1</th>
												<th>Names 2</th>
												<th>Names 3</th>
												<th>Status</th>
												<th>Payment</th>
										</tr>
									</thead>
									<tbody>
										<%= render @reservations %>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->                
			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
