<% provide(:title, 'New reservation') %>
<% breadcrumb :newreservation, newreservation_path, link_current: true, class: "active"  %>
<% provide(:header, 'New reservation') %>

<div class="col-lg-12 col-sm-12 col-xs-12">
    
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <div class="row">
            	<div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-blue">
                            <span class="widget-caption">Registration Form</span>
                        </div>
                        <div class="widget-body">
                            <div id="registration-form">
                                <div class="form-title">
                                    Contact Person Information
                                </div>
                                <%= render 'new'%>
                            </div>
                        </div>
                    </div>
                </div>
               <div class="col-lg-6 col-sm-6 col-xs-12">
                    <div class="widget flat radius-bordered">
                        <div class="widget-header bg-danger">
                            <span class="widget-caption">Please read carefully</span>
                        </div>
                        <%= render 'conditions'%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>