<% provide(:title, @reservation.names )%>
<% breadcrumb :reservation, @reservation, link_current: true, class: "active"  %>
<% provide(:header, @reservation.names) %>
<!-- Page Content -->
<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-12">
	        <div class="row">
	        	<div class="col-lg-6">
	        			<div class="form-group">
						 	<b>STATUS OF APPLICATION: 
						 		<%= @reservation.status %>
							 		<% if @reservation.status=="APPROVED" %>
							  			 <%= image_tag("/assets/green.jpg",  alt: "on" ) %>
							  		<% elsif @reservation.status== "REJECTED" %>
							  			<%= image_tag("/assets/red.jpg",  alt: "on" ) %>
							  		<% elsif @reservation.status== "WAITING" %>
							  			<%= image_tag("/assets/grey.jpg",  alt: "on" ) %>
							  		<% else %>
							  			<%= "-" %>
						  		<% end %>
						 		
						 	</b>
	                    </div>
	        		
	                   	<div class="form-group">
							Applicant's Full Names: <b><%= @reservation.names %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Applicant's Address: <b><%= @reservation.address %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Name Choice 1: <b><%= @reservation.name1 %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Name Choice 2: <b><%= @reservation.name2 %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Name Choice 3:<b> <%= @reservation.name3 %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Applied on:<b> <%= @reservation.created_at %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Payment for Reservation Made?<b> <%= @reservation.payment %></b>
	                    </div>
	              </div>
	              <div class="col-lg-6">      
	                    <% if current_admin.role =='1'%>
		                    <div class="form-group">
		                    	<div class="form-group">
		                    		Approved Name<br> <%= best_in_place @reservation, :approved_name, :type=> :input %>
								</div>
			                  	<div class="form-group">
			                  		Reasons<br><%= best_in_place @reservation, :reasons, :type=> :input, :as=>:textarea %>
			                  	</div>
			                  	<div class="form-group">
			                  		Status <br><%= best_in_place @reservation, :status, :as=>:select, 
			                  		:collection => {"WAITING"=>"WAITING", "RESERVED"=>"RESERVED", "APPROVED"=>"APPROVED"} %>
			                  	</div>
			                  	<div class="form-group">
			                  		Fee Paid: <br><%= best_in_place @reservation, :fee, :type=> :input %>
								</div>
			                  	<div class="form-group">
			                  		Payments <br><%= best_in_place @reservation, :payment, :as =>:select %>
			                  	</div>
			                  	<div class="form-group">
			                  		<%= link_to "Back to Reservations", reservations_url %>
			                  	</div>
			                    	
		                    </div>
		                    
	                    <%else%>
	                    	<div class="form-group">
								<p><i>NOTE: You will be notified the progress of your name application via email.</i></p>
		                    </div>
	                    <%end%>
	           </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
       

