<%= form_for(resource, as: resource_name, url: session_path(resource_name), role: "form") do |f| %>
	<div class="registerbox-textbox no-padding-bottom">
		<%= render 'layouts/error_messages', object: resource %>
	</div>
	
    <div class="loginbox-textbox">
    	<%= f.text_field :email, :placeholder=>"Email", autofocus: true, :class =>"form-control" %>
    	<font color="red"><%= resource.errors.messages[:email].join(" ") %></font>
    </div>
    <div class="loginbox-textbox">
    	<%= f.password_field :password, autocomplete: "off", :placeholder=>"Password", :class =>"form-control" %>
    	<font color="red"><%= resource.errors.messages[:password].join(" ") %></font>
    </div>
    <!--
    <% if devise_mapping.rememberable? -%>
    <div class="loginbox-textbox">            
		 <%= f.text_field :remember_me, checked_value: true, unchecked_value: false, :placeholder=>"remember me" %>
	</div>								      						      
	<% end -%>
	-->
    <!-- Change this to a button or input when using this as a form -->
     <div class="loginbox-submit">
    <%= f.submit "Login", class: "btn btn-primary btn-block", :disable => true %>
    </div>
<% end %>

