<div class="login-container animated fadeInDown">
    <div class="loginbox bg-white">
        <div class="loginbox-title">SIGN IN</div>
        <div class="loginbox-social">
            <div class="social-title ">Connect with Your Social Accounts</div>
            <div class="social-buttons">
                <a href="" class="button-facebook">
                    <i class="social-icon fa fa-facebook"></i>
                </a>
                <a href="" class="button-twitter">
                    <i class="social-icon fa fa-twitter"></i>
                </a>
                
            </div>
        </div>
        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">OR</div>
        </div>
        
        <!--sign in form -->
        <%= render 'newsession'%>
        
        <div class="loginbox-signup">
            Nevlahcapital. Taking financial innovation to the next level.
        </div>
    </div>
    <div class="logobox">
    	<%= render "devise/shared/links" %>
    </div>
</div>
    
    
	

		
	

