<%= simple_form_for(@asset, :role=> "form")  do |f| %>
	<%= f.input :item, :placeholder=>"Name", autofocus: true, :class =>"form-control" %>
	<%= f.button :submit, "Add asset", :class=>"btn btn-lg btn-success btn-block" %>
<% end %>