<% provide(:title, 'New Nature') %>

<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Nature of Proposed Organization</h1>
                <div class="row">
                	<div class="col-lg-6">
                        <%= simple_form_for(@nature, :role=> "form")  do |f| %>
                        <%= render 'shared/error_messages' %>
                        	<%= render 'newnature', :ff=>f %>
                        <%= f.button :submit, "Add nature", :class=>"btn btn-lg btn-success btn-block" %>
                        <% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

