<div class="row">
    <div class="col-sm-12">	
		<!--form entries-->
		
	    <div class="row">
			<!--Name-->
			<div class="col-sm-3">
				Organization Name
				<span class="input-icon icon-right">
					<%= f.input :name, :class =>"form-control", :label => false %>
				</span>
			</div>
			
			<!--Scope of Operation-->
			<div class="col-sm-3">
				Scope of NGO
				<span class="input-icon icon-right">
				  	<%= f.input :scope, :as => :select, :collection => [['International', 'International'], ['National', 'National']], :checked => ['National'], :include_hidden => false, :class =>"form-control", :label => false %>
				</span>
			</div>
			
			<div class="col-sm-3">
				Logo
				<span class="input-icon icon-right">
				  	<%= f.input :logo, as: :image_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
			
			<div class="col-sm-3">
				Constitution
				<span class="input-icon icon-right">
				  	<%= f.input :constitution, as: :attachment_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
	    </div>
	    
	    <!--most uploads-->
	    <div class="row">
	    	<div class="col-sm-3">
				Minutes of Approval
				<span class="input-icon icon-right">
				  	<%= f.input :minutes, as: :attachment_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
			
			<div class="col-sm-3">
				Budget
				<span class="input-icon icon-right">
				  	<%= f.input :budget, as: :attachment_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
			
			<div class="col-sm-3">
				Forwarded Letter
				<span class="input-icon icon-right">
				  	<%= f.input :forward_letter, as: :attachment_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
			
			<div class="col-sm-3">
				Notarized Certificate
				<span class="input-icon icon-right">
				  	<%= f.input :notarized_cert, as: :attachment_preview, :class =>"form-control",
				  	 input_html: {preview_version: :thumb}, :label => false %>
				</span>
			</div>
	    </div>
	    <!--Most uploads-->
	    
	    <div class="row">
	    	<!--Registration Number-->
	    	<div class="col-sm-3">
				Registration Number
				<span class="input-icon icon-right">
				  	<%= f.input :reg_no, :class =>"form-control", :label => false %>
				</span>
			</div>
			
			<!--PIN Number-->
	    	<div class="col-sm-3">
				NGO's PIN Number
				<span class="input-icon icon-right">
				  	<%= f.input :pin_no, :class =>"form-control", :label => false %>
				</span>
			</div>
			
			
	    </div>
	    
		<div class="row">	
		    <!--Registration Date-->
			<div class="col-sm-3">
					<%= f.input "Registration Dates" do %>
						<span class="input-icon icon-right">
						  	<%= f.input_field :reg_date,  as: :date, html5: true,  :required=>false, :class =>"form-control" %>
						</span>
					<% end %>
			</div>
			
			<!--Financial Year-->
			<div class="col-sm-3">
					<%= f.input "Financial Year Start" do %>
						<span class="input-icon icon-right">
						  	<%= f.input :financial_year_start, as: :date, html5: true, :class =>"form-control", 
						  	:label => false %>
						</span>
					<% end %>
			</div>

			<!--Financial Year End-->
			<div class="col-sm-3">
					<%= f.input "Financial Year End" do %>
						<span class="input-icon icon-right">
						  	<%= f.input :financial_year,  as: :date, html5: true, :class =>"form-control", 
						  	:label => false %>
						</span>
					<% end %>
			</div>
		
			<!--Last Income-->
			<div class="col-sm-3">
					<%= f.input "Last Income" do %>
						<span class="input-icon icon-right">
						  	<%= f.input :last_income, :placeholder=>"Last Income", :class =>"form-control", :label => false %>
						</span>
					<% end %>
			</div>
		</div>
		<div class="row">
			<!--Other countries of operations-->
			<div class="col-sm-3">
					<%= f.input "Country of First Registration" do %>
						<span class="input-icon icon-right">
						  	<%= f.input :reg_country, :class =>"form-control", :label => false %>
						</span>
					<% end %>
			</div>
			
			<!--Current and planned countries of operations-->
			<div class="col-sm-4">
					<%= f.input "Current and planned countries of operations " do %>
						<span class="input-icon icon-right">
						  	<%= f.input :planned_country, :class =>"form-control", :label => false %>
						</span>
					<% end %>
			</div>
			
			<!--Other countries of operations-->
			<div class="col-sm-3">
				<%= f.input "Other countries of operations" do %>
					<span class="input-icon icon-right">
					  	<%= f.input :operation_country, :class =>"form-control", :label => false %>
					</span>
				<% end %>
			</div>
			
		</div>
		<!--/form entries-->
	</div>
</div> 