<tr>
  	<td><%= link_to organization.name, organization %></td>
  	<td><%= best_in_place organization, :postal_address, :type=> :input %></td>
  	<td><%= best_in_place organization, :physical_address, :type=> :input %></td>
  	<td><%= best_in_place organization, :telephone, :type=> :input %></td>
  	<td><%= best_in_place organization, :cellphone, :type=> :input %></td>
  	<td><%= organization.officials.count %></td>
</tr>