<% provide(:title, 'Organizations') %>
<% breadcrumb :organizations, @organizations, link_current: true, class: "active"  %>
<% provide(:header, "Show Organization" )%>

<!-- Page Content -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <!-- /.row -->
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							Organizations List
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr>
											<th>Names</th>
											<th>Postal Address</th>
											<th>Physical address</th>
											<th>Telephone</th>
											<th>Cellphone</th>
											<th>Officials</th>
										</tr>
									</thead>
									<tbody>
										<%= render @organizations %>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->
						</div>
						<!-- /.panel-body -->
					</div>
					<!-- /.panel -->
				</div>
				<!-- /.col-lg-6 -->                
			</div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
