<% provide(:title, 'New Organization') %>
<% breadcrumb :neworganization, neworganization_path, link_current: true, class: "active"  %>
<% provide(:header, "New Organization" )%>

<!-- Page Content -->
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div id="tabbedwizard" class="wizard wizard-tabbed" data-target="#tabbedwizardsteps">
            <ul class="steps">
                <li data-target="#tabbedwizardstep1" class="active"><span class="step">1</span>About Organization<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep2"><span class="step">2</span>Contact Details<span class="chevron"></span></li>
                <li data-target="#tabbedwizardstep3"><span class="step">3</span>Operations Mode<span class="chevron"></span></li>
            </ul>
        </div>
        
        <!--start form -->
        <%= simple_form_for(@organization, :role=> "form")  do |f| %>
        <div class="step-content" id="tabbedwizardsteps">
            <!--STEP 1 - Organization details-->
            <div class="step-pane active" id="tabbedwizardstep1">
	            <%= render 'neworganization', :f=>f %>  
         	</div>
         	<!--end of STEP 1 - details-->
         	
            <!--STEP 2 - contact details-->
            <div class="step-pane" id="tabbedwizardstep2">
				<!--Addresses-->
				<div class="row">
					<!--Postal Address-->
			        <div class="col-sm-6">
				        <%= f.input "Postal Address" do %>
						<span class="input-icon icon-right">
						  	<%= f.input_field :postal_address, as: :text, :class =>"form-control" %>
						</span>
					 	<% end %>
				     </div>
				     
				     <!--Physical Address-->
					 <div class="col-sm-6">
			                <%= f.input "Physical Address" do %>
							<span class="input-icon icon-right">
							  	<%= f.input_field :physical_address, as: :text, :class =>"form-control"%>
							</span>
							<% end %>
			            </div>
			     </div>
				
				<div class="row">
					<!--telephone number-->
			        <div class="col-sm-6">
				            <%= f.input "Telephone" do %>
							<span class="input-icon icon-right">
							  	<%= f.input_field :telephone,  :class =>"form-control" %>
							</span>
					    <% end %>
			        </div>
			        
			        <!--Cellphone-->
					<div class="col-sm-4">
			            <div class="form-group">
			                <%= f.input "Cell Phone" do %>
								<span class="input-icon icon-right">
								  	<%= f.input_field :cellphone,   :class =>"form-control"%>
								</span>
							<% end %>
			            </div>
				     </div>
				     
				     <!--email address-->
			   		 <div class="col-sm-4">
						   <div class="form-group">
					            <%= f.input "Email" do %>
								<span class="input-icon icon-right">
								  	<%= f.input_field :email,  as: :email, :class =>"form-control" %>
								</span>
						    	<% end %>
						    </div>
				      </div>
		   		  </div><!--end cont;2acts-->
		   		  <div class="row">
		   		  	<!--fax-->
			   		 <div class="col-sm-4">
						   <div class="form-group">
					            <%= f.input "Fax" do %>
								<span class="input-icon icon-right">
								  	<%= f.input_field :fax, :class =>"form-control" %>
								</span>
						    	<% end %>
						    </div>
				      </div>
				      
				     <!--website mail address-->
			   		 <div class="col-sm-4">
						   <div class="form-group">
					            <%= f.input "Website" do %>
								<span class="input-icon icon-right">
								  	<%= f.input_field :website, :class =>"form-control" %>
								</span>
						    	<% end %>
						    </div>
				      </div>
		   		  </div>
			</div> <!--end STEP-2-contact details-->
			
			<!--STEP 3 - Operations Mode-->
            <div class="step-pane" id="tabbedwizardstep3">
            	<div class="row">
            	<div class="col-sm-4">
				        <%= f.input "Nature of Operation" do %>
						<span class="input-icon icon-right">
							<%= f.input_field :nature_ids, collection: Nature.all, 
							    as: :semantic_ui_check_boxes, :class=> "text", label: false  %>
						</span>
					 	<% end %>
				</div>
				
				<div class="col-sm-4">
				        <%= f.input "Target of operation" do %>
						<span class="input-icon icon-right">
							<%= f.input_field :target_ids, collection: Target.all, 
							    as: :semantic_ui_check_boxes, :class=> "text", label: false  %>						
						</span>
					 	<% end %>
				     </div>
				     
				  <div class="col-sm-4">
				        <%= f.input "Mode of Operation" do %>
						<span class="input-icon icon-right">
							<%= f.input_field :operation_ids, collection: Operation.all, 
							    as: :semantic_ui_check_boxes, :class=> "text", label: false  %>
						</span>
					 	<% end %>
				     </div> 
				 </div><!--row-->
            </div>
            
                        
        </div><!--Progress bar-->
        
        <div class="actions actions-footer" id="tabbedwizard-actions">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm btn-prev"> <i class="fa fa-angle-left"></i>Prev</button>
                <button type="button" class="btn btn-default btn-sm btn-next" data-last="Finish">Next<i class="fa fa-angle-right"></i></button>
                <%= f.button :submit, "Save Organization", :class=>"btn btn-default btn-sm btn-next" %>
            </div>
        </div>
    </div>
</div>

<% end %>
          
</div>
<!-- /.container-fluid -->

<!--takes care of the wizard-->
<script type="text/javascript">
        jQuery(function ($) {
            $('#simplewizardinwidget').wizard();
            $('#simplewizard').wizard();
            $('#tabbedwizard').wizard().on('finished', function (e) {
                Notify('Thank You! All of your information saved successfully.', 'bottom-right', '5000', 'blue', 'fa-check', true);
            });
            $('#WiredWizard').wizard();
        });
</script>