<% provide(:title, "Show Organization" )%>
<% breadcrumb :organization, @organization, link_current: true, class: "active"  %>
<% provide(:header, "Show Organization" )%>

<div class="page-body">
	<div class="row">
	    <div class="col-md-12">
	        <div class="profile-container">
	        	<!--start of the header part-->
	            <div class="profile-header row">
	                <div class="col-lg-2 col-md-4 col-sm-12 text-center">
	                	<%= image_tag(@organization.logo.url, alt: "Logo", class: "header-avatar") %>
	                </div>
	                <div class="col-lg-5 col-md-8 col-sm-12 profile-info">
	                    <div class="header-fullname"><%=@organization.name %></div>
	                    
	                    <div class="header-information">
	                        About <%=@organization.name %>
	                    </div>
	                </div>
	                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 profile-stats">
	                    <div class="row">
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink"><%= @organization.officials.count%></div>
	                            <div class="stats-title">OFFICIALS ADDED</div>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink">0</div>
	                            <div class="stats-title">FINANCE RETURNS MADE</div>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 stats-col">
	                            <div class="stats-value pink">1207</div>
	                            <div class="stats-title">VISITS</div>
	                        </div>
	                    </div>
	                    <div class="row">
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            <i class="glyphicon glyphicon-map-marker"></i> Location
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            Invoices: <strong>KES.25000</strong>
	                        </div>
	                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 inlinestats-col">
	                            Active: <strong>TRUE</strong>
	                        </div>
	                    </div>
	                </div>
	            </div>
	            <!--end of the header part-->
	            
	            <!--start of body part---->
                <div class="profile-body">
                        <div class="col-lg-12">
                            <div class="tabbable">
                                <ul class="nav nav-tabs tabs-flat  nav-justified" id="myTab11">
                                    <li class="active">
                                        <a data-toggle="tab" href="#overview">
                                            Overview
                                        </a>
                                    </li>
                                    <li class="tab-palegreen">
                                        <a data-toggle="tab" id="contacttab" href="#contacts">
                                            Contacts
                                        </a>
                                    </li>
                                    <li class="tab-yellow">
                                        <a data-toggle="tab" href="#settings">
                                            Settings
                                        </a>
                                    </li>
                                </ul>
                                <!--oevrview-->
                                <div class="tab-content tabs-flat">
                                    <div id="overview" class="tab-pane active">
                                        <div class="row profile-overview">
                                       	
                                        <h6 class="row-title before-themeprimary no-margin-top">PROFILE VISITS</h6>
                                        <div class="row">
                                            <div class="col-sm-4">
                                            	Name
                                            	<%= best_in_place @organization, :name, :type=> :input %>
                                            </div>
                                            <div class="col-sm-4">
                                            	<%= best_in_place @organization, :scope, :type=> :input %>     
                                            </div>
                                            <div class="col-sm-4">
                                            	<%= best_in_place @organization, :scope, :type=> :input %>     
                                            </div>
                                         </div>
                                        
                                        <div class="row">
                                        	<div class="col-sm-4">
                                        		Registration Date
                                        		<%= best_in_place @organization, :reg_date, :type=> :input %>
								        	</div>
                                        </div> 
                                        
                                     	<div class="row">
                                            <div class="col-sm-4">
                                                Registration Country
                                                <%= best_in_place @organization, :reg_country, :type=> :input %>
                                       		</div>
                                        </div>
                                            
                                        <div class="row">
                                        	 <div class="col-sm-3">
				                            	Last Income
				                            	<%= best_in_place @organization, :last_income, :type=> :input %>
				                            </div>
				                            
				                            <div class="col-sm-3">
				                            	Financial Year 
												<%= best_in_place @organization, :financial_year, :type=> :input %>
				                            </div>
				                            
				                            <div class="col-sm-3">
				                            	Other Countries of Operation 
				                            	<%= best_in_place @organization, :operation_country, :type=> :input %>
				                            </div>
				                            
				                            <div class="col-sm-3">
				                            	Planned Countries of Operation
				                            	<%= best_in_place @organization, :planned_country, :type=> :input %>
				    						</div>
                                       	</div>
                                       	
                                       	<div class="row">
                                       		<div class="col-sm-4">
                            					<%= image_tag @organization.forward_letter.url, :alt => "Forward Letter", width: 100, height: 100 %>								
				                           	</div>
				                            
				                            <div class="col-sm-4">
				                            	<%= image_tag @organization.constitution.url, :alt => "Constitution", width: 100, height: 100 %>
											</div>
				                            
				                            <div class="col-sm-4">
				                            	<%= image_tag @organization.minutes.url, :alt => "Minutes", width: 100, height: 100 %>
											</div>
				                         </div>
				                         <div class="row">
				                            <div class="col-sm-4">
				                            	<%= image_tag @organization.budget.url, :alt => "Budget", width: 100, height: 100 %>
											</div>
				                           
				                            <div class="col-sm-4">
				                            	<%= image_tag @organization.notarized_cert.url, :alt => "Notarized Cert", width: 100, height: 100 %>
											</div>
                                       	</div>
                                       	<div class="row">
                                       		<div class="col-sm-4">                                                                                                      
												<%= @organization.natures.count %>
												<% @organization.natures.each do |info| %>
													<%= info.name %><br/>
												<% end %>
					                            </div>
					                            
					                            <div class="col-sm-4">
					    							<%= @organization.targets.count %>
					    							<% @organization.targets.each do |info| %>
														<%= info.name %><br/>
													<% end %>
					                            </div>
					                            
					                            <div class="col-sm-4">                                                                                                       
													<%= @organization.operations.count %>
													<% @organization.operations.each do |info| %>
														<%= info.name %><br/>
													<% end %>
					                            </div>
                                       	</div>
                                      </div>
                                    </div>
                                    <!--overview-->
                                    
                                    
                                    <div id="contacts" class="tab-pane">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="profile-contacts">

                                                    <div class="profile-badge orange"><i class="fa fa-phone orange"></i><span>Contacts</span></div>
                                                    <div class="contact-info">
                                                        <p>
                                                            Phone	: <%= best_in_place @organization, :telephone, :type=> :input %> <br>
                                                            Cell		: <%= best_in_place @organization, :cellphone, :type=> :input %>
                                                        </p>
                                                        <p>
                                                            Email		: <%= best_in_place @organization, :email, :type=> :input %>
                                                            <br>
                                                           
                                                        </p>
                                                    </div>
                                                    <div class="profile-badge azure">
                                                        <i class="fa fa-map-marker azure"></i><span>Location</span>
                                                    </div>
                                                    <div class="contact-info">
                                                        <p>
                                                            <%= best_in_place @organization, :postal_address, :type=> :input %><br>
                                                            <%= best_in_place @organization, :physical_address, :type=> :input %><br>
                                                            <br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div id="contact-map" class="animated flipInY"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="settings" class="tab-pane">
                                        <!--cancel my account-->
					                    <div class="panel-heading">
					                      <h3 class="panel-title"><strong>Deactivate Organization</strong></h3>
					                  </div>
					                  <div class="panel-body">
					                    <div class="form-group">
					                    	<%= link_to @organization, method: :delete, data: {confirm: "You sure?"} %>
					                     </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                                </div>
                
                <!--/End of body part:)-->
                                
				</div>
		</div>
</div>
                   