<% provide(:title, 'New Expense') %>
<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Add Expense</h1>
                <div class="row">
                	<div class="col-lg-6">
                        <%= simple_form_for(@expense, :role=> "form")  do |f| %>
                        <%= render 'shared/error_messages' %>
                        	<%= render 'newexpense', :ff=> f%>
                        <%= f.button :submit, "Add expense", :class=>"btn btn-lg btn-success btn-block" %>
                        <% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
