<tr>
  	<td><%= best_in_place education, :name, :type => :input %></td>
  	<td><%= best_in_place education, :certificate, :type=> :input %></td>
  	<td><%= best_in_place education, :start, :type=> :date %></td>	
  	<td><%= best_in_place education, :completion, :type=> :date %></td>
  	<td><%= link_to "delete", education, method: :delete, data: {confirm: "are you sure?"} %></td>
</tr>