
<%= ff.input :name, :placeholder=>"Name", autofocus: true, :class =>"form-control" %>
<%= ff.input :certificate, :placeholder=>"Certificate", :class =>"form-control" %>
<%= ff.input :start ,  as: :date, required: true, :placeholder=>"Date Started", :class =>"form-control" %>
<%= ff.input :completion,  as: :date_picker, :placeholder=>"Date completed", :id => "datetimepicker9" %>
<%=link_to_remove_association "remove education", ff %>
  