<% provide(:title, "Show Qualification" )%>

<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Show Qualifications</h1>
                <div class="row">
                	<div class="col-lg-12">
                           	<div class="form-group">
    							<%= @education.name %>
                            </div>
                            
                            <div class="form-group">
    							<%= @education.certificate %>
                            </div>
                            
                            <div class="form-group">
    							<%= @education.start %>
                            </div>
                            
                            <div class="form-group">
    							<%= @education.completion %>
                            </div>
                            
                            <%= link_to "back", :back%>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="col-lg-6">
        	<div class="form-group">
        	</div>
        	<div class="form-group">
        	</div>
        </div>
    </div>
    <!-- /.container-fluid -->
