<%= simple_form_for(@product, :role=> "form")  do |f| %>
	<%= f.hidden_field :admin_id, :value => current_admin.id %>
	
	<!--name of product-->
	<div class="form-group">
		<%= f.input "Name" do %>
			<span class="input-icon icon-right">
			  	<%= f.input_field :name, :class =>"form-control"%>
				<i class="glyphicon glyphicon-user circular badge-blue"></i>
				<font color="red"><%= @product.errors.messages[:name].join(" ") %></font>
			</span>
		<% end %>
	</div>
	
	<!-- description pof product -->
	<div class="form-group">
		<%= f.input "Description" do %>
			<span class="input-icon icon-right">
			  	<%= f.input_field :description,  as: :text, :class =>"form-control" %>
				<i class="glyphicon glyphicon-text-width"></i>
				<font color="red"><%= @product.errors.messages[:description].join(" ") %></font>
			</span>
		 <% end %>
	</div>
	
	<!-- currency -->
	<div class="form-title">
	   currency
	</div>
	
	<div class="row"> 	
	    <div class="col-sm-12">
	        <div class="form-group">
	            <%= f.input "Currency " do %>
					<span class="input-icon icon-right">
					  	<%= f.input_field :currency, label: "Currency", :class =>"form-control" %>
						<i class="glyphicon glyphicon-book palegreen"></i>
						<font color="red"><%= @product.errors.messages[:currency].join(" ") %></font>
					</span>
				 <% end %>
	        </div>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-sm-12">
	        <div class="form-group">
	            <%= f.input "Amount" do %>
					<span class="input-icon icon-right">
					  	<%= f.input_field :amount, label: "Amount", :class =>"form-control" %>
						<i class="glyphicon glyphicon-book darker"></i>
						<font color="red"><%= @product.errors.messages[:amount].join(" ") %></font>
					</span>
				 <% end %>
	        </div>
	    </div>
	</div>
	
	<%= f.button :submit, "Add", :class=> "btn btn-blue" %>
<% end %>
