<tr>
  	<td><%= link_to product.name, product %></td>
  	<td><%= best_in_place product, :name, :type=> :input %></td>
  	<td><%= best_in_place product, :description, :type=> :input %></td>	
  	<td><%= product.currency%><%= product.amount%></td>
</tr>