<% provide(:title, @product.name )%>
<% breadcrumb :product, @product, link_current: true, class: "active"  %>
<% provide(:header, @product.name) %>
<!-- Page Content -->
<div class="container-fluid">
	<div class="row">
	    <div class="col-lg-12">
	        <div class="row">
	        	<div class="col-lg-6">
	        			       		
	                   	<div class="form-group">
							Product Name: <b><%= @product.name %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Product Description: <b><%= @product.description %></b>
	                    </div>
	                    
	                    <div class="form-group">
							Amount: <b><%= @product.currency %><%= @product.amount %></b>
	                    </div>
	                    
	              </div>
	              <div class="col-lg-6">      
	                    <% if current_admin.role =='1'%>
		                    <div class="form-group">
		                    	<div class="form-group">
		                    		Product Name<br> <%= best_in_place @product, :name, :type=> :input %>
								</div>
			                  	<div class="form-group">
			                  		Description<br><%= best_in_place @product, :description, :type=> :input, :as=>:textarea %>
			                  	</div>
			                  	<div class="form-group">
			                  		Amount: <br><%= best_in_place @product, :currency, :type=> :input %><%= best_in_place @product, :amount, :type=> :input %>
								</div>
			                  	<div class="form-group">
			                  		<%= link_to "Back to products", products_url %>
			                  	</div>
			                    	
		                    </div>
		                    
	                    <%else%>
	                    	<div class="form-group">
								<p><i>NOTE: Unauthorized area.</i></p>
		                    </div>
	                    <%end%>
	           </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
       

