<div class="page-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bordered-bottom bordered-themeprimary">
                                    <i class="widget-icon fa fa-text-width"></i>
                                    <span class="widget-caption">Expected Features</span>
                                    <div class="widget-buttons">
                                        <a href="#" data-action="refresh">
                                            <i class="fa fa-undo"></i>
                                        </a>
                                        <a href="#" data-toggle="config">
                                            <i class="fa fa-cog"></i>
                                        </a>
                                        <a href="#" data-toggle="maximize">
                                            <i class="fa fa-expand"></i>
                                        </a>
                                        <a href="#" data-toggle="collapse">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <a href="#" data-toggle="dispose">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div><!--Widget Buttons-->
                                </div><!--Widget Header-->
                                <div class="widget-body no-padding">
                                    <div class="widget-main">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th width="30%">Module</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Reservations
                                                    </td>
                                                    <td>
                                                        Make and view status in the portal. Make payments and update status
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Organizations</td>
                                                    <td>
                                                        <p>Register details of NGO and officials real time.</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Returns</td>
                                                    <td>
                                                        <p>File financial, personnel and projects returns for a given period</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Messages</td>
                                                    <td>
                                                        <p>This feature will allow NGOs to get direct messages from the board management including newsletters and notices</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Module</td>
                                                    <td>
                                                   		Provide options to receive and make payments for the various services offered.
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div><!--Widget Main Container-->
                                </div><!--Widget Body-->
                            </div><!--Widget-->
                        </div>
                    </div>
                </div>