<div class="navbar navbar-fluid-bottom">
  <div class="navbar-inner">
    <div class="container-fluid">
      <footer>
       	<div align="right"><b>Copyright &copy; 2019. All rights reserved. Nev;ahcapital.</b></div>
      </footer><!--/.nav-collapse -->
    </div>
  </div>
</div>