<div class="page-sidebar" id="sidebar">
    <!-- Page Sidebar Header-->
    <div class="sidebar-header-wrapper">
        <input type="text" class="searchinput" />
        <i class="searchicon fa fa-search"></i>
        <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
    </div>
    <!-- /Page Sidebar Header -->
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu">
        <!--Dashboard-->
        <li>
        	<%= link_to dashboard_path do %>
			  <i class="menu-icon glyphicon glyphicon-home"></i>
			  <span class="menu-text"> Dashboard </span>
			<% end %>
        	            
        </li>
        
        <!--Reservations-->
        <% if can? :create, Reservation %>
        <li>
			<a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-pencil-square-o"></i>
                <span class="menu-text"> Reservations </span>

                <i class="menu-expand"></i>
            </a>
			
            <ul class="submenu">
                <li>
	                <%= link_to '#' do %>
					  <span class="menu-text"> Make Reservation </span>
					<% end %>
                </li>
                <li>
                   <%= link_to '#' do %>
					  <span class="menu-text"> View Reservation Status</span>
					<% end %>
                </li>
            </ul>
        </li>
        <% end %>
        
        <!--Organization-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-picture-o"></i>
                <span class="menu-text"> Product </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <%= link_to new_product_path do %>
					  <span class="menu-text"> Register Product </span>
					<% end %>  
                </li>
                <li>
                    <%= link_to products_path do %>
					  <span class="menu-text"> View Products </span>
					<% end %>  
                </li>
                <li>
                    <%= link_to '#' do %>
					  <span class="menu-text"> Video Streaming</span>
					<% end %>  
                </li>
            </ul>
        </li>
        
        <!--Messages-->
        <li>
            <a href="#" class="menu-dropdown">
                <i class="menu-icon fa fa-envelope-o"></i>
                <span class="menu-text"> Messages </span>

                <i class="menu-expand"></i>
            </a>

            <ul class="submenu">
                <li>
                    <a href="#">
                        <span class="menu-text">Inbox</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="menu-text">View Message</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="menu-text">Compose Message</span>
                    </a>
                </li>
            </ul>
        </li>
         <li>
        	<%= link_to newfinance_path do %>
			  <i class="menu-icon glyphicon glyphicon-chart"></i>
			  <span class="menu-text"> Review account details </span>
			<% end %>
        	            
        </li>
    </ul>
    <!-- /Sidebar Menu -->
</div>