<!DOCTYPE html>
<html lang="en">	
  <head>
    <meta charset="utf-8" />
    <title><%= full_title(yield(:title)) %></title>
    
	<%= csrf_meta_tags %>
	<meta name="description" content="Dashboard" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">
    
    <!--Basic Styles-->
    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <!--Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
    
    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->
    <%= render 'layouts/shim' %>

</head>
  
<body>
	<!-- Loading Container 
    <div class="loading-container">
       <div class="loader"></div>
    </div>
    <!--  /Loading Container -->
    <% if admin_signed_in? %>
    <!-- Navbar -->
    	<%= render 'layouts/header'%>
    <!-- /Navbar -->
    
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">
            <!-- Page Sidebar -->
            <%= render 'layouts/sidebar'%>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                	
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                         </li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            <%= full_header(yield(:header)) %>
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!--Flash messages-->
                <% flash.each do |key, value| %>
			        <div class="alert alert-<%= key %>">
			        	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			        	<%= value %>
		        	</div>
		     	<% end %>
		     	
		     	<!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <!-- Your Content Goes Here -->
                    <%= yield %>
                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
        </div>
        <!-- /Page Container -->
        <!-- Main Container -->
		
    </div>
    <% else%>
    	<%= yield %>
    <% end %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag :cocoon %>
</body>
</html>
