<% provide(:title, 'New Operation Mode') %>
<% provide(:header, "Show Organization" )%>
<!-- Page Content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                	<div class="col-lg-6">
                        <%= simple_form_for(@operation, :role=> "form")  do |f| %>
                        <%= render 'shared/error_messages' %>
                       		<%= render 'newoperation', :f=>f %>
                        <%= f.button :submit, "Add Operation", :class=>"btn btn-lg btn-success btn-block" %>
                        <% end %>
                   </div>
                </div>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

